:root {
	color-scheme: light dark;
	font-family: sans-serif;
	max-width: 900px; 
	padding: 12px;
    margin: auto;
	font-size: 1.10em;
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 5vh;
}

h2 {
	text-align: center;
	font-size: 4vh;}

a { 
	font-size: 10vh;
	margin: 0.1em;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: white;
	}
	
	.github {
	fill: white;
}
}

.avatar {
	display: block;
	margin: 1em auto;
	max-width: 30vh;
	height: auto;
	border-radius: 50%;
	object-fit: scale-down;
}
  
  /* Fit entire avatar on really small screens */
@media (max-width: 600px) {
	img {
		width: 100%;
	}
}

.contact {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}