/* Properties for the entire site */
:root {
	color-scheme: light dark;
	font-family: sans-serif;
    margin: auto;
	text-align: justify;
	max-width: 900px;
}

/* Center and add margins to all headings */
h1, h2 {
	text-align: center;
	margin: 0.5rem;
}

h1 {
	font-size: 3rem;
	margin-top: 1.2rem;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
}


/* Properties for the entire contact section */
.contact {
	max-width: 700px;
	grid-gap: .4rem;
	display: grid;
	margin: 1em auto;
	grid-template-columns: repeat(3, auto);
}

/* Properties for each individual contact link */
.contact-link {
	font-size: 2.25rem;
	text-decoration: none;
	color: black;
}

/* Properties for the icon inside of each contact links */
.contact-link svg {
	padding-right: .3rem;
}

.avatar {
	display: block;
	margin: 0.5rem auto;
	max-width: 10rem;
	height: auto;
	border-radius: 50%;
	object-fit: scale-down;
}

.ad {
	font-size: 1.25rem;
	margin: 0.5rem;
}


/* Specify colors for dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: white;
	}
	
	.contact-link {
		color: white;
	}
	
	.github {
	fill: white;
}
}
  
/* Properties for devices with screen width of 600px or lower */
@media (max-width: 600px) {
	img {
		width: 100%;
	}
	
	.contact {
		grid-template-columns: repeat(2, auto);
		margin: 1rem 0;
	}
	
	.contact-link {
		font-size: 1.7rem;
	}
}