:root {
	color-scheme: light dark;
	font-family: sans-serif;
    margin: auto;
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: 0.5rem;
	margin-top: 1.2rem;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin: 0.5rem;
}

.contact {
	max-width: 700px;
	grid-gap: .4rem;
	display: grid;
	margin: 1em auto;
	grid-template-columns: auto auto auto;
}

.contact-link {
	font-size: 2.25rem;
	text-decoration: none;
	color: black;
}

.contact-link svg {
	padding-right: .3rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: white;
	}
	
	.github {
	fill: white;
}
}

.avatar {
	display: block;
	margin: 0.5rem auto;
	max-width: 10rem;
	height: auto;
	border-radius: 50%;
	object-fit: scale-down;
}
  
  /* Fit entire avatar on really small screens */
@media (max-width: 600px) {
	img {
		width: 100%;
	}
	
	.contact {
		grid-template-columns: repeat(2, auto);
		margin: 1rem 0;
	}
	
	.contact-link {
		font-size: 1.7rem;
	}
}

.ad {
	font-size: 1.25rem;
}